/* Start Global */


body {
	background-color: #f1f2f4;
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none!important;
}

ul {
	margin: 0
}





li {
	list-style: none;
}



.fl-le {
	float: left;
	width: 50%
}



@media (max-width: 767.99px) { 
.fl-le {
	width: 100%;
	}

}


.clear-fix {
	clear: both;
}




.btn {
	padding: 10px 15px;
	border-radius: 5px;
	font-weight: 500;
}
/* End Global */






/* Start Navbar */
nav {
	padding:10px 30px 0;
	min-height: 60px; 
	background-color: #fff;
}


@media(max-width:567px) {
nav{
	padding:10px 10px 20px;
}

	
}







@media(min-width:992px) {
nav{
	height: 60px;
}

	
}




nav .brand {
	width: 15%;
	float: left;
	line-height: 70px;
}






@media(max-width:767.99px) {
nav .brand {
	float: none;
	display: block;
	width: 100%;
	line-height: normal;
	margin-top:45px;
	margin-bottom: 10px;
	text-align: center;
	background: #f8f8f8;
    padding: 10px 0px 5px;
    border-radius: 10px;
	
}

}





nav img.logo {
	height: 30px;
}




@media(max-width:575.99px) {
nav img.logo {
	height: 25px;
}

	
}


nav .menu {
	float: left;
	width: 50%;
}





@media(max-width:767.99px) {
nav .menu {
	float: none;
	display: block;
	width: 100%;
	padding-left: 0;
	text-align: center;
}

	
}










nav .nav-item {
	display: inline-block;
	margin-right: 20px;
}



@media(max-width:575.99px) {
nav .nav-item {
	margin-right: 5px;

	}

	
}

@media(min-width:576px) and (max-width:767.99px) {
nav .nav-item {
	margin-right: 50px;

	}

	
}









nav .nav-item .nav-link {
	font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
    line-height: 45px;
	color: #75849b;
	transition: .6s all ease-in-out;
     -webkit-transition: all 0.6s ease-in-out; 
   -moz-transition: all 0.6s ease-in-out;
     -o-transition: all 0.6s ease-in-out;	
	cursor: pointer;
}


@media(max-width: 575.99px) {
nav .nav-item .nav-link {
	margin-right: 22px;
	font-size: 14px;
}

	
}

@media(max-width: 575.99px) {
nav .nav-item .nav-link.last {
	margin-right: 0;
}

	
}


.navbar .active>.nav-link {
	color: #2977ff!important;
	border-bottom: 3px solid #2977ff;
	padding-bottom: 25px;
}



@media(max-width: 767.99px) {
.navbar .active>.nav-link {
color: #2977ff!important;
	border-bottom: none;
	padding-bottom: 0;
	}

	
}





nav .nav-item .nav-link .fa-th-large,
nav .nav-item .nav-link .fa-file-alt,
nav .nav-item .nav-link .fa-check-square {
	margin-right: 5px;
	color: #e1e5e9;
}

nav .nav-item.active .nav-link .fa-file-alt {
	color: #2977ff!important;

}








/* Start user account */


.user-acc {
  	margin: 2px auto;
	position: absolute;
	top: 10px;
}



@media(max-width:767.99px) {
.user-acc {
	position: absolute;
	left: 5px;
	top: 0;
	padding: 3px 0;
}

	
}






@media (min-width:768px) and (max-width:991.99px) {
.user-acc {
	top: 2%;
	right: 12%;
	
	
	}

	
}





@media (min-width:992px) {
.user-acc {
	right: 12%;
	top: 10px;
	
	}

	
}





.dropdownbox,
.dropdownbox2 {
  	margin: 0 auto;
  	width: max-content;
  	color: #75849b;
	cursor: pointer;
}



.dropdownbox p.user-dat {
  	padding: 5px 10px;
  	font-size: 20px;
	margin: 0;
}




@media(max-width:991.99px) {
.dropdownbox p.user-dat {
	font-size: 15px;
	padding-left: 5px;

	}

	
}








.dropdownbox p.user-dat .user-img {
	border-radius: 50%;
	width: 35px;
	margin-right: 5px;
	display: inline-block;
}





@media(max-width:991.99px) {
.dropdownbox p.user-dat .user-img {
	width: 25px;

	}

	
}











.dropdownbox p.user-dat span {
vertical-align: super;
}




.dropdownbox p.user-dat .fa-sort-down {
vertical-align: super;
}





ul.user-menu,
ul.lang-menu {
	position: relative;
	margin: 0 auto;
	width: 145px;
	overflow: hidden;
	height: 0;
	padding-left: 0;
    -webkit-transition: all 0.3s ease-in-out; 
   	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  	background: #75849b;
  	color: #fff;
  	cursor: pointer;

}

ul.user-menu li,
ul.lang-menu li {
	padding: 8px 12px;
    font-size: 16px;
   	-webkit-transition: all 0.3s ease-in-out; 
   	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  	border-bottom: 1px solid #fff;
}

ul.user-menu li:hover,
ul.lang-menu li:hover {
	background-color: #e1e5e9;
	color: #75849b;
	border-bottom: 1px solid #75849b;
}



.user-menu.showMenu {
  	height: max-content;
	text-align: center;
}


/* End user */



/* start Border Section */
span.bord {
    border-right: 1px solid #ccc;
    width: 5px;
    height: 40px;
    position: absolute;
    right: 140px;
    top: 3%;
}

@media (max-width: 767.99px) {
span.bord {
	display: none;
	}
}

@media (min-width:768px) and (max-width:991.99px) {
span.bord {

	height: 35px;
    right: 95px;
    top: 3%;
	}

}





@media (min-width:992px) and (max-width:1199.99px) {
span.bord {

    right: 125px;
	}

}





/* End Border Section */




/* languages */



.languages {
  	margin: 2px auto;
	position: absolute;
	right: 20px;
	text-align: right;
	
}




@media(max-width:767.99px) {
.languages {
	position: absolute;
	right: 15px;
	top: 0;
}

	
}





@media(min-width:768px) and (max-width:991.99px) {
.languages {
	right: 30px;
	text-align: inherit;
	width: 50px

	}

	
}





.dropdownbox2 p.lang-data {
	font-size: 18px;
	margin: 17px 0;
	
}




@media(max-width: 991.99px) {
.dropdownbox2 p.lang-data {
	font-size: 12px;

	}

	
}





.dropdownbox2 p.lang-data .fa-sort-down {
    top: -2px;
    position: relative;


}

ul.lang-menu {
	width: 100px;
	
}


@media(min-width:768px) and (max-width:991.99px) {
ul.lang-menu {
	left: -15px;


	}

	
}






.lang-menu.showMenu2 {
  height: max-content;
	text-align: center;
	
}



	/* End Languages */




/* End Navbar */





/* Start Content */ 


.content {
	background-color: #fff;
	margin: 20px;
	padding: 5px 0 80px;
	border-radius: 5px;
}



@media (max-width: 991.99px) { 
	.content {
		padding-bottom: 120px;
	}
}
	
	




/* Start Exam-title */


.content .exam-title {
	border-bottom: 1px solid #ddd;
	padding: 0 20px 4px;
	color: #465061;
	display: flex;
	flex-wrap: wrap;
	

}




@media (max-width:991.99px){
.content .exam-title {
	padding-bottom: 35px;

}
}


.content .exam-title .chev {

	width: 35px;
	text-align: left;
	padding-top: 18px;

}



@media (max-width:575.99px){
.content .exam-title .chev {
	display: none;
	}
}




.content .exam-title .chev .fa-chevron-left {
	color: #c0c6d2;
	font-size: 26px;
}













.content .exam-title .title-data {
	flex-grow: 1;
	

}




.content .exam-title .title {
    position: relative;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;	
}

@media (max-width: 575.99px) { 
.content .exam-title .title {	
   font-size: 20px;
	padding-left: 0;

}
	
}
	


@media (min-width:768px) and (max-width:991.99px) {
.content .exam-title .title {	
   font-size: 24px;

	
	}

	
}







.content .exam-title .course-lv {
    color: #c0c6d2;
    font-size: 16px;
    margin-bottom: 20px;
	margin-top: 2px;
}



	
	

@media (max-width: 575.99px) { 
.content .exam-title .title,
.content .exam-title .course-lv,
.content .exam-title .exam-type {
	padding-left: 0;


	}
	
}
	
	

.content .exam-title .exam-type .fa-bars {
	color: #c0c6d2;
	margin-right: 5px;
	vertical-align: middle;
}


.content .exam-title .exam-type .ques-num {
    font-size: 15px;
    font-weight: 500;
}
	
@media (max-width: 575.99px) { 
.content .exam-title .exam-type .ques-num {
    font-size: 11px;


	}
	
}
	
	

.content .exam-title .exam-type .type{
	border: 1px solid #e1e5e9;
	background-color: #e5efff;
	color: #2977ff;
	padding: 5px 4px;
	font-size: 13px;
	font-weight: 600;
	border-radius: 3px;
	margin-left: 12px;
}











.content .exam-title .time-data{
	text-align: right;
	flex-grow: 1;
	margin-top: 8px;
}









@media (max-width:575.99px){
.content .exam-title .time-data{
	text-align: left;
	margin-top: 10px;
	}
}




@media (min-width:576px) and (max-width:767.99px){
.content .exam-title .time-data{
	padding-left: 30px;
	text-align: left;
	margin-top: 15px;
	
	}
}




.content .exam-title .time-data .date{
	font-size: 15px;
	margin-right: 5px;
	font-weight: 600;


}


.content .exam-title .time-data .time{
	color: #9ba6b7;
	font-size: 15px;
	

}


@media (max-width: 575.99px) { 
.content .exam-title .time-data .date,	
.content .exam-title .time-data .time{
	font-size: 13px;

	}
	
}
	




.content .exam-title .time-data .time .fa-arrow-right{
	margin: 0 15px;

}

@media (max-width: 575.99px) { 
.content .exam-title .time-data .time .fa-arrow-right{
	margin: 0 5px;

	}
	
}

.content .exam-title .time-data .to-pass{
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-bottom: 0;
	font-weight: 600;
}


@media (max-width: 575.99px) { 
.content .exam-title .time-data .to-pass{
	font-size: 13px;
	}
	
}
	


@media (min-width:768px) and (max-width:991.99px) {
.content .exam-title .time-data .to-pass{
	padding-bottom: 5px;

	
	}

	
}






.content .exam-title .time-data .to-pass .min {
	margin-right: 25px;
	

}

@media (max-width: 575.99px) { 
.content .exam-title .time-data .to-pass .min {
	margin-right: 5px;

	}
	
}
	

.content .exam-title .time-data .to-pass .fa-clock,
.content .exam-title .time-data .to-pass .fa-flag-checkered {
	margin-right: 10px;
	color: #c0c6d2;
	

}


.content .exam-title .time-data .delay-time{
	border: 1px solid #ff9000;
	background-color: #fff7eb;
	color: #ff9000;
	padding: 5px 7px;
	font-size: 13px;
	font-weight: 600;
	border-radius: 3px;

}

/* End Exam Title */

/* Start Prerequisites */


.prerequisites {
	border-bottom: 1px solid #ddd;
	padding:15px 20px 30px 20px;
	

}

.prerequisites .prerequisites-title {
    color: #465061;
    font-size: 17px;
    font-weight: 700;
}


.prerequisites .red-alert{
	color: #bf5c4d;
	position: relative;
	padding-left: 45px;
	font-size: 14px;
    font-weight: 600;
	margin-top: 20px;
}



.prerequisites .red-alert .fa-exclamation-triangle{
	font-size: 30px;
	position: absolute;
	left: 0;
	top: 5px;
	
}





.prerequisites .blue-alert{
	background-color: #e5efff;
	color: #465061;
	padding:20px 20px;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 500;
	line-height: 1.7;
	margin-top: 25px;
}




.prerequisites .download {
	margin-top: 35px;

}


.prerequisites .download .download-title{
	font-size: 16px;
	padding-bottom: 5px;
	font-weight: 600;
	


}

@media (max-width: 575.99px) { 
.prerequisites .download .download-title{
	margin-bottom: 10px;

	}
	
}
	




.prerequisites .download .windows,
.prerequisites .download .mac {
	border: 1px solid #e1e5e9;
	font-size: 14px;
	color: #808ea3;
	display: inline-block;
	transition: .2s all ease-in-out;

}


@media (max-width: 575.99px) { 
.prerequisites .download .windows,
.prerequisites .download .mac {
	width: 80%;
	margin-top: 5px;

	}
	
}
	


.prerequisites .download .windows {
	margin-right: 10px;
	
}

.prerequisites .download .windows .fa-windows,
.prerequisites .download .mac .fa-apple {
	color: #2977ff;
	margin-left: 5px;
	font-size: 15px;

}


.prerequisites .download .windows:hover,
.prerequisites .download .mac:hover {
    background: #e5efff;
	border: 1px solid #2977ff;
}




/* End Prerequisites */


/* Start instructions */

.instructions {
	padding: 15px 20px 30px 20px;
}

.instructions .instructions-title {
	color: #465061;
    font-size: 17px;
    font-weight: 700;
}


.instructions .instructions-data {
	line-height: 1.7;
	margin-top: 15px;
	margin-bottom: 20px;
	font-size: 15px;
	font-weight: 500;
}




/* End instructions */






/* End Content */




/* Start Fixed Notification */


.notification {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #2977ff;
	min-height: 95px;
	color: #fff;
	padding-top: 12px;
	
	
}


.counter {
	padding-left: 20px;
	width: 48%;
	padding-top: 10px
}

@media (max-width: 991.99px) { 
.counter {
	width: 100%;
	text-align: center;
	padding-left: 0;



	}
	
}
	

#timer {
   font-weight: 300;

}





#timer span {
  display: block;
  font-size: 15px;
  color: white;
}

#days,
#hours,
#minutes {
  font-size: 20px;
  color: #fff;
	display: inline-block;
	text-align: center;
	margin-right: 15px;
	font-weight: bold
}


#seconds {
  font-size: 15px;
  color: #fff;
	display: inline-block;
	text-align: center;
	font-weight: bold
	
}


#days span,
#hours span,
#minutes span,
#seconds span {

	font-weight: 300
}


.notification .notification-data {
	text-align: right;
	line-height: 83px;
	padding-right: 20px;
	width: 47.5%;
}


@media (max-width: 991.99px) { 
.notification .notification-data {
	width: 100%;
	text-align: center;
	padding-right: 0

	}
	
}
	

.notification .notification-data .fa-exclamation-triangle {
	margin-right: 5px;
	font-size: 16px;
	
}


.notification .notification-data span {
	font-size: 14px;
}



.notification .notification-data .ready-btn {
	background-color: #fff;
	color: #2977ff;
	font-weight: 600;
	padding: 10px 20px;
	margin-left: 15px;
	font-size: 19px;
}





@media (max-width: 991.99px) { 
.notification .notification-data .ready-btn {
	padding: 6px 12px;
	font-size: 15px;

	}
	
}
	

/* End Fixed Notification */

